name: Lint Bugout python

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install test requirements
        run: pip install -e .[dev]
      - name: Mypy type check
        run: mypy bugout/
      - name: Black syntax check
        run: black --check bugout/
